doctype
html(ng-app="botnet")
  head(manifest)
    #{ script }
    title #{ title }
    meta(name="description" content="#{ description } ")
    link(rel="stylesheet" href="main.css")

  body
      != yield
